@import url("https://fonts.googleapis.com/css2?family=Pattaya&display=swap");

html {
  background-color: #343f56;
}
.display {
  background-color: #343f56;
}
.header {
  color: #283042;
  font-family: "Pattaya", sans-serif;
  background-color: #1eae98 !important;
}
.header h1 {
  margin: auto;
}
.form-input {
  display: block;
  margin-bottom: 5px;
  width: 100%;
  height: 40px;
  border-radius: 5px;
  text-align: center;
  border-style: none;
  color: black;
  background-color: #1eae98;
}

.form-display {
  width: 300px;
  margin: 15% auto;
}
.main {
  height: 80vh;
}
.friends {
  height: 100% !important;
}
/* Friends Section */
.friends-tab {
  background-color: #2b2e4a;
  text-align: center;
}
.friends-tab h1 {
  color: #1eae98;
}
.friend {
  display: inline-block;
}
.message-button {
  background-color: #3a2d68;
  border: 1px solid black;
  color: #f8ede3;
  text-align: left;
}
.delete-button {
  background-color: #fb3640;
  padding: 2px 1px;
  border: 1px solid black;
  text-align: center;
}
.block-button {
  background-color: #810000;
  padding: 2px 1px;
  border: 1px solid black;
  color: black;
  text-align: center;
}

.hovered {
  cursor: pointer;
}
